.event-details {
  margin: 20px;
}

.event-details-title {
  margin-bottom: 20px;
}

.event-details-image {
  width: auto;
  height: 300px;
  object-fit: cover;
  margin-bottom: 20px;
}

.event-details-description {
  margin-bottom: 20px;
}

.event-details-info {
  display: flex;
  flex-wrap: wrap;
}

.event-details-info-item {
  width: 50%;
  margin-bottom: 10px;
}

.event-details-info-label {
  font-weight: bold;
  margin-right: 10px;
}

.event-details-registration {
  margin-top: 20px;
}
