.event-container {
  display: flex;
  justify-content: space-between;
}

.event-content {
  width: 100%;
}
.event-details {
  margin: 20px;
}

.event-details-title {
  margin-bottom: 20px;
}

.event-details-image {
  width: auto;
  height: 300px;
  object-fit: cover;
  margin-bottom: 20px;
}

.event-details-info {
  display: flex;
  flex-wrap: wrap;
}

.event-details-info-item {
  width: 50%;
  margin-bottom: 10px;
}

.event-details-info-label {
  font-weight: bold;
  margin-right: 10px;
}

.event-details-registration {
  margin-top: 20px;
}


.event-detaild-header {
  display: flex;
  flex-direction: column;
}

.event-details-startTime {
  font-weight: 200;
}

.event-details-title {
  font-size: 50px;
  font-weight: 800;
}

.event-details-description {
  font-size: 1rem;
  font-weight: 600;
}

.event-details-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
}

.event-details-section-header {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 16px;
}

.event-details-about-description {

}


.event-details-icons svg {
  width: 25px;
  height: 25px;
  margin-right: 8px;
}

.event-details-header {
  display: flex;
  justify-content: space-between;
}

.event-checkout-section {
  margin: 0 20px;
  height: 100%;
  position: sticky;
  width: 400px;
  border: 1px solid #dbd9d9;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.event-checkout-section-title {
  font-weight: 600;
  margin-bottom: 8px;
}

.event-details-location-info {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 750px) {
  .event-container {
    flex-direction: column;
    align-items: center;
  }

  .event-checkout-section{
    margin-top: 20px;
  }
}