body {
  margin: 0px;
  background: url("../../assets/background2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header {
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin: 50px;
  height: 50px;
}

.header .ant-carousel {
  width: 100%;
}

.page-header {
  font-size: 72px;
  text-align: center;
  margin-bottom: 5vw;
}

.create-event-btn {
  position: absolute;
  top: 250px;
}

.page-title {
  font-family: 'Noto Sans Bassa Vah', sans-serif;
}


.navbar-logo {
  color: #d99d51;
  font-size: 30px;
  color: '#fff';
  text-align: center;
  margin: 0;
  font-family: 'Noto Sans Bassa Vah', sans-serif;
  cursor: pointer;
  transition: color 0.5s ease;
}

.navbar-logo:hover {
  color: #f9b55b;
}

.navbar-btn {
  border: none;
  height: 50px;
  border-radius: 30px;
  width: 150px;
  color: #212025;
  font-size: 17px;
  font-weight: 600;
  transition: 0.5s ease;
  background: rgb(238,203,70);
  background: linear-gradient(180deg, rgba(238,203,70,1) 0%, rgba(217,157,81,1) 100%);
  margin: 10px;
}

.navbar-btn:hover {
  color: black !important;
  background: rgb(255,216,70);
  background: linear-gradient(180deg, rgba(255,216,70,1) 0%, rgba(249,180,94,1) 100%);
}

.github-icon {
  font-size: 40px;
  color: white;
  margin-left: 5px;
  transition: 0.5s ease;
}

.github-icon:hover {
    opacity: 0.7;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}


@media only screen and (max-width: 800px) {
  .navbar-logo {
    margin-bottom: 16px;
  }

  .header {
    height: initial;
    display: initial;
    margin: 50px 0px 0px;
  }
  
  .button-container { 
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
  }
}
