.header {
  justify-content: center;
  display: flex;
  flex-direction: column;
  background: #f5f5f5;
  align-items: center;
}

.header .ant-carousel {
  width: 100%;
}

.page-header {
  font-size: 72px;
  text-align: center;
  margin-bottom: 5vw;
}

.create-event-btn {
  position: absolute;
  top: 250px;
} 